In [ ]:
import pandas as pd
import numpy as np
import json

In [ ]:
!pip install pymysql
import pymysql
import sqlalchemy
from sqlalchemy import create_engine

Requirement already satisfied: pymysql in /usr/local/lib/python3.10/dist-packages (1.1.0)

In [ ]:
username = 'team1'  # replace the hash symbol with your team number
password = 'team1'
host = 'testproject.mysql.database.azure.com'  # do not change this
database = 'team1'  # replace the hash symbol with your team number

connection_string = f"mysql+pymysql://{username}:{password}@{host}/{database}"

ssl_args = {
    'ssl_ca': 'path_to/ca-cert.pem',
    'ssl_cert': 'path_to/client-cert.pem',
    'ssl_key': 'path_to/client-key.pem'
}

engine = create_engine(
    connection_string,
    connect_args={'ssl': ssl_args}
)

In [ ]:
!pip install mysqlclient
!pip install mysql-connector-python
import mysql.connector

Requirement already satisfied: mysqlclient in /usr/local/lib/python3.10/dist-packages (2.2.4)
Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.10/dist-packages (8.3.0)

In [ ]:
%reload_ext sql

%sql mysql://team1:team1@testproject.mysql.database.azure.com:3306/team1

In [ ]:
%sql show databases

 * mysql://team1:***@testproject.mysql.database.azure.com:3306/team1
3 rows affected.

[('information_schema',), ('performance_schema',), ('team1',)]

In [ ]:
%%sql
use team1;
show tables;

 * mysql://team1:***@testproject.mysql.database.azure.com:3306/team1
0 rows affected.
7 rows affected.

[('assignment',),
 ('business',),
 ('checkin',),
 ('friends',),
 ('reviews',),
 ('tip',),
 ('user',)]

In [ ]:
#Business Table
#%%sql
'''USE team1;
ALTER TABLE business
#DROP PRIMARY KEY,
#DROP COLUMN my_row_id,
#MODIFY COLUMN business_id varchar(22) NOT NULL,
#ADD PRIMARY KEY(business_id);'''

'USE team1;\nALTER TABLE business\n#DROP PRIMARY KEY,\n#DROP COLUMN my_row_id,\n#MODIFY COLUMN business_id varchar(22) NOT NULL,\n#ADD PRIMARY KEY(business_id);'

In [ ]:
#review table
'''%%sql

USE team4;
ALTER TABLE review
DROP PRIMARY KEY,
MODIFY COLUMN review_id VARCHAR(22) NOT NULL,
ADD PRIMARY KEY(review_id);'''

'%%sql\n\nUSE team4;\nALTER TABLE review\nDROP PRIMARY KEY,\nMODIFY COLUMN review_id VARCHAR(22) NOT NULL,\nADD PRIMARY KEY(review_id);'

In [ ]:
#User Table
'''%%sql

USE team4;
ALTER TABLE user_modified
DROP PRIMARY KEY,
#DROP COLUMN my_row_id,
MODIFY COLUMN user_id VARCHAR(22) NOT NULL,
ADD PRIMARY KEY(user_id);'''

'%%sql\n\nUSE team4;\nALTER TABLE user_modified\nDROP PRIMARY KEY,\n#DROP COLUMN my_row_id,\nMODIFY COLUMN user_id VARCHAR(22) NOT NULL,\nADD PRIMARY KEY(user_id);'

In [ ]:
#Tip Table
'''%%sql

USE team1;
ALTER TABLE tip
DROP PRIMARY KEY,
DROP COLUMN my_row_id,
MODIFY COLUMN user_id VARCHAR(22) NOT NULL,MODIFY COLUMN business_id varchar(22) NOT NULL, MODIFY COLUMN date VARCHAR(25) NOT NULL,
ADD PRIMARY KEY(user_id,business_id,date);'''

'%%sql\n\nUSE team1;\nALTER TABLE tip\nDROP PRIMARY KEY,\nDROP COLUMN my_row_id,\nMODIFY COLUMN user_id VARCHAR(22) NOT NULL,MODIFY COLUMN business_id varchar(22) NOT NULL, MODIFY COLUMN date VARCHAR(25) NOT NULL,\nADD PRIMARY KEY(user_id,business_id,date);'

In [ ]:
#checkin Table
'''%%sql
USE team4;
ALTER TABLE checkin
DROP PRIMARY KEY,
#DROP COLUMN my_row_id,
MODIFY COLUMN business_id varchar(22) NOT NULL, MODIFY COLUMN date varchar(22) NOT NULL,
ADD PRIMARY KEY(business_id,date);'''

'%%sql\nUSE team4;\nALTER TABLE checkin\nDROP PRIMARY KEY,\n#DROP COLUMN my_row_id,\nMODIFY COLUMN business_id varchar(22) NOT NULL, MODIFY COLUMN date varchar(22) NOT NULL,\nADD PRIMARY KEY(business_id,date);'

In [ ]:
%%sql
SHOW COLUMNS FROM reviews;

 * mysql://team1:***@testproject.mysql.database.azure.com:3306/team1
11 rows affected.

[('my_row_id', 'bigint unsigned', 'NO', 'PRI', None, 'auto_increment INVISIBLE'),
 ('index', 'bigint', 'YES', 'MUL', None, ''),
 ('review_id', 'text', 'YES', '', None, ''),
 ('user_id', 'text', 'YES', '', None, ''),
 ('business_id', 'text', 'YES', '', None, ''),
 ('stars', 'double', 'YES', '', None, ''),
 ('useful', 'bigint', 'YES', '', None, ''),
 ('funny', 'bigint', 'YES', '', None, ''),
 ('cool', 'bigint', 'YES', '', None, ''),
 ('text', 'text', 'YES', '', None, ''),
 ('date', 'text', 'YES', '', None, '')]

In [ ]:
%%sql
SHOW COLUMNS FROM business;

 * mysql://team1:***@testproject.mysql.database.azure.com:3306/team1
17 rows affected.

[('my_row_id', 'bigint unsigned', 'NO', 'PRI', None, 'auto_increment INVISIBLE'),
 ('index', 'bigint', 'YES', 'MUL', None, ''),
 ('business_id', 'text', 'YES', '', None, ''),
 ('name', 'text', 'YES', '', None, ''),
 ('address', 'text', 'YES', '', None, ''),
 ('city', 'text', 'YES', '', None, ''),
 ('state', 'text', 'YES', '', None, ''),
 ('postal_code', 'text', 'YES', '', None, ''),
 ('latitude', 'double', 'YES', '', None, ''),
 ('longitude', 'double', 'YES', '', None, ''),
 ('stars', 'double', 'YES', '', None, ''),
 ('review_count', 'bigint', 'YES', '', None, ''),
 ('is_open', 'bigint', 'YES', '', None, ''),
 ('attributes', 'text', 'YES', '', None, ''),
 ('categories', 'text', 'YES', '', None, ''),
 ('hours', 'text', 'YES', '', None, ''),
 ('RestaurantsDelivery', 'varchar(255)', 'YES', '', None, '')]

In [ ]:
%%sql
SHOW COLUMNS FROM tip;

 * mysql://team1:***@testproject.mysql.database.azure.com:3306/team1
7 rows affected.

[('my_row_id', 'bigint unsigned', 'NO', 'PRI', None, 'auto_increment INVISIBLE'),
 ('index', 'bigint', 'YES', 'MUL', None, ''),
 ('user_id', 'text', 'YES', '', None, ''),
 ('business_id', 'text', 'YES', '', None, ''),
 ('text', 'text', 'YES', '', None, ''),
 ('date', 'text', 'YES', '', None, ''),
 ('compliment_count', 'bigint', 'YES', '', None, '')]

In [ ]:
%%sql
SHOW COLUMNS FROM user;

 * mysql://team1:***@testproject.mysql.database.azure.com:3306/team1
23 rows affected.

[('my_row_id', 'bigint unsigned', 'NO', 'PRI', None, 'auto_increment INVISIBLE'),
 ('index', 'bigint', 'YES', 'MUL', None, ''),
 ('user_id', 'text', 'YES', '', None, ''),
 ('name', 'text', 'YES', '', None, ''),
 ('review_count', 'bigint', 'YES', '', None, ''),
 ('yelping_since', 'text', 'YES', '', None, ''),
 ('useful', 'bigint', 'YES', '', None, ''),
 ('funny', 'bigint', 'YES', '', None, ''),
 ('cool', 'bigint', 'YES', '', None, ''),
 ('elite', 'text', 'YES', '', None, ''),
 ('fans', 'bigint', 'YES', '', None, ''),
 ('average_stars', 'double', 'YES', '', None, ''),
 ('compliment_hot', 'bigint', 'YES', '', None, ''),
 ('compliment_more', 'bigint', 'YES', '', None, ''),
 ('compliment_profile', 'bigint', 'YES', '', None, ''),
 ('compliment_cute', 'bigint', 'YES', '', None, ''),
 ('compliment_list', 'bigint', 'YES', '', None, ''),
 ('compliment_note', 'bigint', 'YES', '', None, ''),
 ('compliment_plain', 'bigint', 'YES', '', None, ''),
 ('compliment_cool', 'bigint', 'YES', '', None, ''),
 ('compliment_funny', 'bigint', 'YES', '', None, ''),
 ('compliment_writer', 'bigint', 'YES', '', None, ''),
 ('compliment_photos', 'bigint', 'YES', '', None, '')]

In [ ]:
%%sql
SHOW COLUMNS FROM checkin;

 * mysql://team1:***@testproject.mysql.database.azure.com:3306/team1
4 rows affected.

[('my_row_id', 'bigint unsigned', 'NO', 'PRI', None, 'auto_increment INVISIBLE'),
 ('index', 'bigint', 'YES', 'MUL', None, ''),
 ('business_id', 'text', 'YES', '', None, ''),
 ('date', 'datetime', 'YES', '', None, '')]

In [ ]:
%%sql
SELECT * FROM business
LIMIT 5;

 * mysql://team1:***@testproject.mysql.database.azure.com:3306/team1
5 rows affected.

[(0, 'Pns2l4eNsfO8kk83dixA6A', 'Abby Rappoport, LAC, CMQ', '1616 Chapala St, Ste 2', 'Santa Barbara', 'CA', '93101', 34.4266787, -119.7111968, 5.0, 7, 0, "{'ByAppointmentOnly': 'True'}", 'Doctors, Traditional Chinese Medicine, Naturopathic/Holistic, Acupuncture, Health & Medical, Nutritionists', 'None', None),
 (1, 'mpf3x-BjTdTEA3yCZrAYPw', 'The UPS Store', '87 Grasso Plaza Shopping Center', 'Affton', 'MO', '63123', 38.551126, -90.335695, 3.0, 15, 1, "{'BusinessAcceptsCreditCards': 'True'}", 'Shipping Centers, Local Services, Notaries, Mailbox Centers, Printing Services', "{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', 'Wednesday': '8:0-18:30', 'Thursday': '8:0-18:30', 'Friday': '8:0-18:30', 'Saturday': '8:0-14:0'}", None),
 (2, 'tUFrWirKiKi_TAnsVWINQQ', 'Target', '5255 E Broadway Blvd', 'Tucson', 'AZ', '85711', 32.223236, -110.880452, 3.5, 22, 0, '{\'BikeParking\': \'True\', \'BusinessAcceptsCreditCards\': \'True\', \'RestaurantsPriceRange2\': \'2\', \'CoatCheck\': \'False\', \'RestaurantsTakeO ... (282 characters truncated) ... doorSeating\': \'False\', \'HasTV\': \'False\', \'RestaurantsReservations\': \'False\', \'DogsAllowed\': \'False\', \'ByAppointmentOnly\': \'False\'}', 'Department Stores, Shopping, Fashion, Home & Garden, Electronics, Furniture Stores', "{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', 'Wednesday': '8:0-22:0', 'Thursday': '8:0-22:0', 'Friday': '8:0-23:0', 'Saturday': '8:0-23:0', 'Sunday': '8:0-22:0'}", None),
 (3, 'MTSW4McQd7CbVtyjqoe9mw', 'St Honore Pastries', '935 Race St', 'Philadelphia', 'PA', '19107', 39.9555052, -75.1555641, 4.0, 80, 1, '{\'RestaurantsDelivery\': \'False\', \'OutdoorSeating\': \'False\', \'BusinessAcceptsCreditCards\': \'False\', \'BusinessParking\': "{\'garage\': Fal ... (131 characters truncated) ... \': \'1\', \'RestaurantsTakeOut\': \'True\', \'ByAppointmentOnly\': \'False\', \'WiFi\': "u\'free\'", \'Alcohol\': "u\'none\'", \'Caters\': \'True\'}', 'Restaurants, Food, Bubble Tea, Coffee & Tea, Bakeries', "{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', 'Wednesday': '7:0-20:0', 'Thursday': '7:0-20:0', 'Friday': '7:0-21:0', 'Saturday': '7:0-21:0', 'Sunday': '7:0-21:0'}", None),
 (4, 'mWMc6_wTdE0EUBKIGXDVfA', 'Perkiomen Valley Brewery', '101 Walnut St', 'Green Lane', 'PA', '18054', 40.3381827, -75.4716585, 4.5, 13, 1, '{\'BusinessAcceptsCreditCards\': \'True\', \'WheelchairAccessible\': \'True\', \'RestaurantsTakeOut\': \'True\', \'BusinessParking\': "{\'garage\': N ... (6 characters truncated) ... 'street\': None, \'validated\': None, \'lot\': True, \'valet\': False}", \'BikeParking\': \'True\', \'GoodForKids\': \'True\', \'Caters\': \'False\'}', 'Brewpubs, Breweries, Food', "{'Wednesday': '14:0-22:0', 'Thursday': '16:0-22:0', 'Friday': '12:0-22:0', 'Saturday': '12:0-22:0', 'Sunday': '12:0-18:0'}", None)]

In [ ]:
%%sql
SELECT * FROM reviews
LIMIT 5;

 * mysql://team1:***@testproject.mysql.database.azure.com:3306/team1
5 rows affected.

[(0, 'KU_O5udG6zpxOg-VcAEodg', 'mh_-eMZ6K5RLWhZyISBhwA', 'XQfwVwDr-v0ZS3_CbbE5Xw', 3.0, 0, 0, 0, "If you decide to eat here, just be aware it is going to take about 2 hours from beginning to end. We have tried it multiple times, because I want to  ... (217 characters truncated) ... oo many experiences where we spent way too long waiting. We usually opt for another diner or restaurant on the weekends, in order to be done quicker.", '2018-07-07 22:09:11'),
 (1, 'BiTunyQ73aT9WBnpR9DZGw', 'OyoGAe7OKpv6SyGZT5g77Q', '7ATYjTIgM3jUlt4UM3IypQ', 5.0, 1, 0, 1, "I've taken a lot of spin classes over the years, and nothing compares to the classes at Body Cycle. From the nice, clean space and amazing bikes, to  ... (535 characters truncated) ... uragement, and is open to ideas and recommendations from anyone. Russell always wears a smile on his face, even when he's kicking your butt in class!", '2012-01-03 15:28:18'),
 (2, 'saUsX_uimxRlCVr67Z4Jig', '8g_iMtfSiwikVnbP2etR0A', 'YjUWPpI6HXG530lwP-fb2A', 3.0, 0, 0, 0, 'Family diner. Had the buffet. Eclectic assortment: a large chicken leg, fried jalapeo, tamale, two rolled grape leaves, fresh melon. All good. Lots  ... (41 characters truncated) ...  with breakfast served all day long. Friendly, attentive staff. Good place for a casual relaxed meal with no expectations. Next to the Clarion Hotel.', '2014-02-05 20:30:30'),
 (3, 'AqPFMleE6RsU23_auESxiA', '_7bHUi9Uuf5__HHc_Q8guQ', 'kxX2SOes4o-D3ZQBkiMRfA', 5.0, 1, 0, 1, "Wow!  Yummy, different,  delicious.   Our favorite is the lamb curry and korma.  With 10 different kinds of naan!!!  Don't let the outside deter you (because we almost changed our minds)...go in and try something new!   You'll be glad you did!", '2015-01-04 00:01:03'),
 (4, 'Sx8TMOWLNuJBWer-0pcmoA', 'bcjbaE6dDog4jkNY91ncLQ', 'e4Vwtrqf-wpJfwesgvdgxQ', 4.0, 1, 0, 1, "Cute interior and owner (?) gave us tour of upcoming patio/rooftop area which will be great on beautiful days like today. Cheese curds were very good ... (236 characters truncated) ... ore menu options added such as salads w fun cheeses. Lots of beer and wine as well as limited cocktails. Next time I will try one of the draft wines.", '2017-01-14 20:54:15')]

In [ ]:
%%sql
SELECT * FROM checkin
LIMIT 5;

 * mysql://team1:***@testproject.mysql.database.azure.com:3306/team1
5 rows affected.

[(0, '---kPU91CF4Lq2-WlRu9Lw', datetime.datetime(2020, 3, 13, 21, 10, 56)),
 (0, '---kPU91CF4Lq2-WlRu9Lw', datetime.datetime(2020, 6, 2, 22, 18, 6)),
 (0, '---kPU91CF4Lq2-WlRu9Lw', datetime.datetime(2020, 7, 24, 22, 42, 27)),
 (0, '---kPU91CF4Lq2-WlRu9Lw', datetime.datetime(2020, 10, 24, 21, 36, 13)),
 (0, '---kPU91CF4Lq2-WlRu9Lw', datetime.datetime(2020, 12, 9, 21, 23, 33))]

In [ ]:
%%sql
SELECT * FROM user
LIMIT 5;

 * mysql://team1:***@testproject.mysql.database.azure.com:3306/team1
5 rows affected.

[(0, 'qVc8ODYU5SZjKXVBgXdI7w', 'Walker', 585, '2007-01-25 16:47:26', 7217, 1259, 5994, '2007', 267, 3.91, 250, 65, 55, 56, 18, 232, 844, 467, 467, 239, 180),
 (1, 'j14WgRoU_-2ZE1aw1dXrJg', 'Daniel', 4333, '2009-01-25 04:35:42', 43091, 13066, 27281, '2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,20,20,2021', 3138, 3.74, 1145, 264, 184, 157, 251, 1847, 7054, 3131, 3131, 1521, 1946),
 (2, '2WnXYQFK0hXEoTxPtV2zvg', 'Steph', 665, '2008-07-25 10:41:00', 2086, 1010, 1003, '2009,2010,2011,2012,2013', 52, 3.32, 89, 13, 10, 17, 3, 66, 96, 119, 119, 35, 18),
 (3, 'SZDeASXq7o05mMNLshsdIA', 'Gwen', 224, '2005-11-29 04:38:33', 512, 330, 299, '2009,2010,2011', 28, 4.27, 24, 4, 1, 6, 2, 12, 16, 26, 26, 10, 9),
 (4, 'hA5lMy-EnncsH4JoR-hFGQ', 'Karen', 79, '2007-01-05 19:40:59', 29, 15, 7, '', 1, 3.54, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0)]

**Business Questions and Queries**

**1. For restaurants that have closed, what were the common attributes or categories compared to those that remain open?**

In [ ]:
%%sql
SELECT b.attributes, COUNT(*) AS count
FROM business b
WHERE b.is_open = 0
GROUP BY b.attributes
ORDER BY count DESC
LIMIT 10;

SELECT b.categories, COUNT(*) AS count
FROM business b
WHERE b.is_open = 1
GROUP BY b.categories
ORDER BY count DESC
LIMIT 10;

 * mysql://team1:***@testproject.mysql.database.azure.com:3306/team1
10 rows affected.
10 rows affected.

[('Beauty & Spas, Nail Salons', 900),
 ('Nail Salons, Beauty & Spas', 849),
 ('Restaurants, Pizza', 668),
 ('Pizza, Restaurants', 575),
 ('Restaurants, Chinese', 537),
 ('Chinese, Restaurants', 513),
 ('Restaurants, Mexican', 447),
 ('Mexican, Restaurants', 417),
 ('Beauty & Spas, Hair Salons', 408),
 ('Hair Salons, Beauty & Spas', 387)]

**2. Restaurants that offer delivery but have low star ratings**

In [78]:
%%sql
SELECT name, stars, attributes
FROM business
WHERE city = 'Philadelphia'
AND categories LIKE '%Restaurants%'
AND attributes LIKE '%Delivery%'
LIMIT 10;

 * mysql://team1:***@testproject.mysql.database.azure.com:3306/team1
10 rows affected.

[('St Honore Pastries', 4.0, '{\'RestaurantsDelivery\': \'False\', \'OutdoorSeating\': \'False\', \'BusinessAcceptsCreditCards\': \'False\', \'BusinessParking\': "{\'garage\': Fal ... (131 characters truncated) ... \': \'1\', \'RestaurantsTakeOut\': \'True\', \'ByAppointmentOnly\': \'False\', \'WiFi\': "u\'free\'", \'Alcohol\': "u\'none\'", \'Caters\': \'True\'}'),
 ('Tuna Bar', 4.0, '{\'RestaurantsReservations\': \'True\', \'RestaurantsGoodForGroups\': \'True\', \'RestaurantsAttire\': "\'casual\'", \'BusinessAcceptsCreditCards\':  ... (706 characters truncated) ... ntsTableService\': \'True\', \'BusinessParking\': "{u\'valet\': False, u\'garage\': None, u\'street\': True, u\'lot\': False, u\'validated\': None}"}'),
 ('BAP', 4.5, '{\'NoiseLevel\': "u\'quiet\'", \'GoodForMeal\': "{\'dessert\': False, \'latenight\': False, \'lunch\': True, \'dinner\': True, \'brunch\': False, \'b ... (661 characters truncated) ... e, \'trendy\': False, \'upscale\': False, \'classy\': False, \'casual\': True}", \'RestaurantsDelivery\': \'None\', \'RestaurantsTakeOut\': \'True\'}'),
 ('Bar One', 4.0, '{\'Smoking\': "u\'no\'", \'NoiseLevel\': "u\'average\'", \'Caters\': \'False\', \'WiFi\': "u\'free\'", \'RestaurantsGoodForGroups\': \'True\', \'Musi ... (901 characters truncated) ... ': False, \'valet\': False}", \'BikeParking\': \'True\', \'BusinessAcceptsCreditCards\': \'True\', \'HasTV\': \'True\', \'Alcohol\': "u\'full_bar\'"}'),
 ('DeSandro on Main', 3.0, '{\'RestaurantsReservations\': \'False\', \'Caters\': \'False\', \'RestaurantsTakeOut\': \'True\', \'RestaurantsDelivery\': \'True\', \'RestaurantsPri ... (665 characters truncated) ... unch\': False, \'breakfast\': False}", \'RestaurantsTableService\': \'True\', \'HasTV\': \'True\', \'WiFi\': "\'no\'", \'NoiseLevel\': "\'average\'"}'),
 ('Craft Hall', 3.5, '{\'OutdoorSeating\': \'True\', \'RestaurantsPriceRange2\': \'2\', \'BusinessAcceptsCreditCards\': \'True\', \'DogsAllowed\': \'True\', \'Ambience\':  ... (432 characters truncated) ... ge\': False, \'street\': False, \'validated\': False, \'lot\': True, \'valet\': False}", \'RestaurantsTakeOut\': \'True\', \'GoodForKids\': \'True\'}'),
 ('Wawa', 3.0, '{\'Alcohol\': "u\'none\'", \'RestaurantsGoodForGroups\': \'True\', \'BusinessParking\': "{\'garage\': False, \'street\': True, \'validated\': False,  ... (523 characters truncated) ... 'False\', \'ByAppointmentOnly\': \'False\', \'HasTV\': \'True\', \'BikeParking\': \'True\', \'WiFi\': "u\'free\'", \'RestaurantsDelivery\': \'True\'}'),
 ('Golden Chopstick Chinese Restaurant', 3.0, '{\'GoodForKids\': \'True\', \'RestaurantsDelivery\': \'True\', \'Alcohol\': "u\'none\'", \'RestaurantsTakeOut\': \'True\', \'RestaurantsPriceRange2\' ... (792 characters truncated) ... \': False, \'trendy\': False, \'upscale\': False, \'classy\': False, \'casual\': None}", \'RestaurantsTableService\': \'True\', \'Caters\': \'True\'}'),
 ('J Sushi', 4.5, '{\'Ambience\': "{\'touristy\': False, \'hipster\': False, \'romantic\': False, \'divey\': False, \'intimate\': False, \'trendy\': False, \'upscale\': ... (700 characters truncated) ... e, \'lot\': False, \'valet\': False}", \'NoiseLevel\': "u\'average\'", \'RestaurantsReservations\': \'True\', \'RestaurantsGoodForGroups\': \'True\'}'),
 ("Wendy's", 1.5, '{\'RestaurantsTakeOut\': \'True\', \'RestaurantsPriceRange2\': \'1\', \'OutdoorSeating\': \'False\', \'RestaurantsAttire\': "u\'casual\'", \'Restaura ... (169 characters truncated) ... reet\': False, \'validated\': False, \'lot\': False, \'valet\': False}", \'BusinessAcceptsCreditCards\': \'True\', \'RestaurantsDelivery\': \'True\'}')]

**3. Which cities have the highest average star rating for restaurants?**

In [ ]:
%%sql
SELECT city, AVG(stars) as average_stars
FROM business
WHERE categories LIKE '%Restaurant%'
GROUP BY city
ORDER BY average_stars DESC
LIMIT 10;

 * mysql://team1:***@testproject.mysql.database.azure.com:3306/team1
10 rows affected.

[('Nashville ', 5.0),
 ('Wallingford', 5.0),
 ('Sassamansville', 5.0),
 ('Hilltown', 5.0),
 ('St.  Charles', 5.0),
 ('Bryn Athyn', 5.0),
 ('Kalispell', 5.0),
 ('Rosewood Heights', 5.0),
 ('Glendale', 5.0),
 ('Lutz fl', 5.0)]

**4. What are the top-rated cuisines in your target city? (Philadelphia)**

In [68]:
%%sql
SELECT categories, AVG(stars) AS average_rating
FROM business
WHERE city = 'Philadelphia' AND categories LIKE '%Restaurants%'
GROUP BY categories
ORDER BY average_rating DESC, COUNT(*) DESC
LIMIT 10;

 * mysql://team1:***@testproject.mysql.database.azure.com:3306/team1
10 rows affected.

[('American (Traditional), Nightlife, Pubs, Restaurants, Bars', 5.0),
 ('Convenience Stores, Italian, Specialty Food, Mexican, Restaurants, Food', 5.0),
 ('Food Stands, Pizza, Food Trucks, Food, Restaurants', 5.0),
 ('Food Trucks, Restaurants, Food Court, Japanese Curry, Street Vendors, Food, Japanese, Food Delivery Services', 5.0),
 ('Mexican, Pizza, Restaurants, Italian', 5.0),
 ('Restaurants, Food, Convenience Stores, Cafes, Ethiopian', 5.0),
 ('Halal, Food Stands, Restaurants, Middle Eastern', 5.0),
 ('Caterers, Event Planning & Services, Cafes, Vegetarian, Restaurants, Sandwiches', 5.0),
 ('Irish Pub, Restaurants, American (Traditional), Polish, Sports Bars, Chicken Wings, Irish, Nightlife, Bars, Local Flavor', 5.0),
 ('Food Trucks, Food, Restaurants, Halal', 5.0)]

**5. Which restaurants have the highest number of reviews in your target city?**

In [ ]:
%%sql
SELECT name, review_count
FROM business
WHERE city = 'Philadelphia' AND categories LIKE '%Restaurants%'
ORDER BY review_count DESC
LIMIT 10;

 * mysql://team1:***@testproject.mysql.database.azure.com:3306/team1
10 rows affected.

[('Reading Terminal Market', 5721),
 ("Pat's King of Steaks", 4250),
 ("Geno's Steaks", 3401),
 ('El Vez', 3187),
 ('Zahav', 3065),
 ('Barbuzzo', 2893),
 ('Parc', 2761),
 ("Jim's South St", 2736),
 ('Dalessandros Steaks & Hoagies', 2686),
 ('Green Eggs Caf', 2679)]

**6. What are the common attributes of the top 5 rated restaurants in your target city?**

In [ ]:
%%sql
SELECT attributes
FROM business
WHERE city = 'Philadelphia' AND categories LIKE '%Restaurants%'
ORDER BY stars DESC, review_count DESC
LIMIT 5;

 * mysql://team1:***@testproject.mysql.database.azure.com:3306/team1
5 rows affected.

[('{\'NoiseLevel\': "u\'average\'", \'RestaurantsPriceRange2\': \'1\', \'BusinessAcceptsCreditCards\': \'True\', \'BusinessParking\': "{\'garage\': Fals ... (718 characters truncated) ... st\': None, u\'brunch\': False, u\'lunch\': None, u\'dinner\': None, u\'latenight\': False, u\'dessert\': False}", \'RestaurantsDelivery\': \'True\'}',),
 ('{\'HasTV\': \'False\', \'RestaurantsPriceRange2\': \'2\', \'BusinessAcceptsCreditCards\': \'True\', \'RestaurantsReservations\': \'True\', \'OutdoorS ... (660 characters truncated) ... alse, u\'casual\': True, u\'touristy\': False, u\'trendy\': None, u\'intimate\': True, u\'romantic\': True, u\'classy\': True, u\'upscale\': False}"}',),
 ('{\'RestaurantsReservations\': \'True\', \'Caters\': \'True\', \'WiFi\': "u\'free\'", \'Alcohol\': "\'none\'", \'NoiseLevel\': "\'average\'", \'Busine ... (730 characters truncated) ... alse\', \'RestaurantsAttire\': "\'casual\'", \'RestaurantsPriceRange2\': \'1\', \'RestaurantsTakeOut\': \'True\', \'WheelchairAccessible\': \'True\'}',),
 ('{\'BikeParking\': \'True\', \'RestaurantsAttire\': "u\'casual\'", \'RestaurantsGoodForGroups\': \'True\', \'RestaurantsReservations\': \'True\', \'Re ... (794 characters truncated) ... \': False, \'latenight\': False, \'lunch\': False, \'dinner\': True, \'brunch\': True, \'breakfast\': False}", \'RestaurantsTableService\': \'True\'}',),
 ('{\'GoodForMeal\': "{\'dessert\': False, \'latenight\': False, \'lunch\': False, \'dinner\': False, \'brunch\': False, \'breakfast\': False}", \'Ambie ... (411 characters truncated) ... \'lot\': False, \'valet\': False}", \'RestaurantsTakeOut\': \'True\', \'RestaurantsGoodForGroups\': \'False\', \'RestaurantsReservations\': \'True\'}',)]

**7. How do review counts correlate with business ratings in your target area?**

In [ ]:
%%sql
SELECT review_count, stars
FROM business
WHERE city = 'Philadelphia' AND categories LIKE '%Restaurants%'
LIMIT 10;

 * mysql://team1:***@testproject.mysql.database.azure.com:3306/team1
10 rows affected.

[(80, 4.0),
 (245, 4.0),
 (205, 4.5),
 (65, 4.0),
 (41, 3.0),
 (65, 3.5),
 (56, 3.0),
 (137, 3.0),
 (72, 4.5),
 (15, 1.5)]

**8. Find the most popular restaurant categories in Philadelphia**

In [ ]:
%%sql
SELECT categories, COUNT(business_id) AS business_count
FROM business
WHERE city = 'Philadelphia' AND categories LIKE '%Restaurants%'
GROUP BY categories
ORDER BY business_count DESC
LIMIT 10;

 * mysql://team1:***@testproject.mysql.database.azure.com:3306/team1
10 rows affected.

[('Restaurants, Pizza', 154),
 ('Pizza, Restaurants', 124),
 ('Restaurants, Chinese', 89),
 ('Chinese, Restaurants', 84),
 ('Restaurants, Italian', 43),
 ('Restaurants, Mexican', 42),
 ('Italian, Restaurants', 39),
 ('Mexican, Restaurants', 39),
 ('Restaurants, American (New)', 36),
 ('American (New), Restaurants', 34)]

**9. Find out what customers value in top-rated restaurants (attributes analysis) in Philadelphia**

In [ ]:
%%sql
SELECT attributes, COUNT(*) AS count
FROM business
WHERE city = 'Philadelphia' AND stars >= 4 AND categories LIKE '%Restaurants%'
GROUP BY attributes
ORDER BY count DESC
LIMIT 10;

 * mysql://team1:***@testproject.mysql.database.azure.com:3306/team1
10 rows affected.

[('None', 27),
 ("{'RestaurantsTakeOut': 'True', 'RestaurantsDelivery': 'True'}", 20),
 ("{'RestaurantsDelivery': 'True', 'RestaurantsTakeOut': 'True'}", 12),
 ("{'RestaurantsTakeOut': 'None', 'RestaurantsDelivery': 'None'}", 11),
 ("{'RestaurantsDelivery': 'None', 'RestaurantsTakeOut': 'None'}", 7),
 ("{'RestaurantsDelivery': 'True'}", 3),
 ("{'BusinessAcceptsCreditCards': 'True'}", 2),
 ("{'RestaurantsTakeOut': 'True', 'OutdoorSeating': 'True', 'RestaurantsDelivery': 'True'}", 2),
 ('{\'BusinessParking\': "{\'garage\': False, \'street\': False, \'validated\': False, \'lot\': False, \'valet\': False}"}', 2),
 ("{'RestaurantsTakeOut': 'True', 'RestaurantsDelivery': 'True', 'OutdoorSeating': 'True'}", 2)]

**10. Discover the least competitive areas within Philadelphia by counting restaurants.**

In [ ]:
%%sql
SELECT postal_code, COUNT(*) AS restaurant_count
FROM business
WHERE city = 'Philadelphia' AND categories LIKE '%Restaurants%'
GROUP BY postal_code
ORDER BY restaurant_count ASC
LIMIT 10;

 * mysql://team1:***@testproject.mysql.database.azure.com:3306/team1
10 rows affected.

[('', 1),
 ('19087', 1),
 ('19155', 1),
 ('19454', 1),
 ('19101', 1),
 ('19092', 1),
 ('19019', 2),
 ('19113', 2),
 ('19112', 9),
 ('19137', 16)]